.logo {
  &,
  &-link,
  &-img {
    display: inline-block;
    vertical-align: middle;
  }
  &--mobile {
    width: 100px;
    height: 44px;
  }
}

.phone {
  @extend %reset-list;

  &,
  &-item {
    display: inline-block;
    vertical-align: middle;
  }

  &-item {
    margin: 0 5px;
  }

  &-number {
    display: inline-block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.social {
  @extend %reset-list;

  &,
  &-item {
    display: inline-block;
    vertical-align: middle;
  }

  &-item {
    margin: 0 3px;
  }

  &-link {
    background: $button_bg_color;
    color: $primary_color_2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: $border_round;
    &:hover {
      background: $button_bg_hover;
      color: $primary_color_2;
    }
  }
}

.messenger {
  @extend %reset-list;

  &,
  &-item {
    display: inline-block;
    vertical-align: middle;
  }

  &-item {
    margin: 0 5px;
  }

  &-link {
    display: block;
    text-align: center;
    text-decoration: none;

    &:hover {
    }
  }
}

.lang {
  @extend %reset-list;

  &,
  &-item {
    display: inline-flex;
    align-items: center;
  }

  &-item {
    margin: 0 5px;

    &.current-lang {
      font-weight: 700;
    }

    a {
      font-size: 16px;
      display: block;


      &:after {
        content: "|";
        margin-left: 6px;
        font-weight: normal;
      }

      img {
        height: 15px;
      }
    }

    &:first-child {
      margin-right: 0;
    }
  }

  &-item:last-child {
    a {
      &:after {
        content: none;
      }
    }
  }
}
