.block-services {
  background: $primary_color_2;
  box-shadow: $shadow;
  border-radius: 12px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 320px;
  min-height: 100px;
  margin: 0 auto;
  padding: 10px 12px;
    
    //xs 544
    @media #{$mobile} {
        min-height: 50px;
    }

  &:hover {
    box-shadow: none;
  }

  &.active {
    background: $button_bg_color;

    & .block-services__description {
      color: $primary_color_2;
    }

    & .block-services__dots {
      background: $primary_color_2;
    }

    &:hover {
      & .block-services__description {
        color: $primary_color_2;
      }

    }
  }

  &:hover {
    & .block-services__description {
      color: $themeColorTwo;
    }

  }

  &__dots {
    width: 8px;
    height: 8px;
    border-radius: $border_round;
    background: $button_bg_color;
    margin-right: 10px;
  }

  &__description {
    width: calc(100% - 15px);
    line-height: normal;
    font-weight: 700;
  }
}