.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: $footerBgColor;
}

.footer-bottom {
    background: $themeColorTwo;
}

.pre-footer {
    padding: 20px 0;
}

.copyright {
    padding: 10px 0;
    color: $footerFontColor;
    display: flex;
    justify-content: space-between;

    a {
        color: $footerFontColor;
        text-decoration: underline;

        &:hover {
            color: $footerLinkColorActive;
        }
    }
}

.developer {
    & a {
        color: $primary_color_2;
        font-size: 14px;
        text-decoration: none;
        &:hover, &:focus {
            color: darken($primary_color_2, 10%);
        }
    }
}
