$debug: false !default;
$image-url-path: "assets/img/" !default;
$font-url-path: "assets/fonts/" !default;

$borderRadius: 25px;
$shadow: 0 0 10px rgba(#000, .2);
$primary_color_1: #000000;
$primary_color_2: #ffffff;
$border_round: 50%;
$border_radius_sm: 12px;

// BRAND
$themeColorOne: #333333; // Обычно самый темный цвет. Используется для:
// заголовков h1-h6 - $titleFontColor и других.

$themeColorTwo: #78024b; // Основной "брендовый" цвет.
// Поменять значение этой переменной согласно макета обязательно!

$themeColorThree: #a55b89; // для градиента
$nav_bg_color:  linear-gradient(to right, rgba(184,55,139,1) 0%, rgba(120,2,75,1) 100%);
$button_bg_color: linear-gradient(to bottom, rgba(190,145,181,1) 0%, rgba(148,2,94,1) 100%);
$button_bg_simple_color: linear-gradient(45deg, rgba(240,230,216,1) 0%, rgba(226,214,226,1) 100%);
$button_bg_hover: linear-gradient(to bottom, rgba(190,145,181,1) 0%, #bb7ba4 100%);
$news_bg_color: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%);
$button_shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
$large_shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.25);
$custom_color: #F2EBE2;
$menu_shadow: 0 4px 12px 3px rgba(0, 0, 0, 0.25);
$review_shadow: 0 10px 5px -4px rgba(0, 0, 0, 0.25);
$header_bg_gradient: linear-gradient(135deg, rgba(244,229,222,1) 0%, rgba(236,226,220,1) 100%);

// SELECTION: цвет фона и текста при выделении его курсором
$selectionBgColor: $themeColorTwo;
$selectionFontColor: #fff;

// BODY
$bodyBgColor: #fff; //white
$bodyFontColor: #000; // black

// HEADER: цвет фона шапки сайта
$headerBgColor: transparent;
$headerFontColor: #fff;

// Text Highlight: цвет фона и текста при добавлении к нему .highlighted
$textHighlightBgColor: $themeColorTwo;
$textHighlightColor: #fff;

// MENU
$menuBgColor: $themeColorTwo;
$menuBgColorActive: #fff;
$menuFontColor: #fff;
$menuFontColorActive: $themeColorOne;

$navArrowColor: #fff;
$navHeaderMobileBGColor: $themeColorTwo;
$navHamburgerMobileColor: #fff;

$menuMobileBGColor: $themeColorTwo;
$menuMobileSubMenuBGColor: lighten($themeColorTwo, 10%);
$menuMobileLinkFontSize: 16px;
$menuMobileSubMenuLinkFontSize: 14px;
$menuMobileTextColor: #fff;
$menuMobileSubMenuTextColor: $menuMobileTextColor;
$menuMobileSubMenuBGOnHover: $themeColorTwo;
$menuMobileSubMenuTextColorOnHover: #fff;

$hamburger-offset: 8px;
$hamburger-duration: .1s;
$hamburger-delay: .1s;
$hamburger-color: $themeColorTwo;

$menu-close-size: 25px;
$menu-close-color: #fff;
$menuContainerMobilePaddingTop: 30%;

// FOOTER
$footerBgColor: linear-gradient(to right, rgba(205,172,191,1) 0%, rgba(192,148,181,1) 100%);
$footerFontColor: #fff;
$footerLinkColorActive: darken($footerFontColor, 5%);

// WRAPPER
$wrapperBgColor: #fff;

// TITLES
$titleFontColor: $themeColorOne;
$titleFontColorActive: lighten($titleFontColor, 10%);

// LINKS
$linkFontColor: #000;
$linkFontColorActive: lighten($linkFontColor, 20%);

// TABLE
$tableBgColor: $themeColorTwo;
$tableBgColorActive: lighten($themeColorTwo, 10%);
$tableBorderColor: #fff;
$tableBorderColorActive: #989898;
$tableOddBgColor: $themeColorOne;
$tableOddFontColor: #fff;
$tableEvenBgColor: $themeColorTwo;
$tableEvenFontColor: #fff;

// TEXT
$textMutedColor: #aaa;

// Icons
$iconColor: $themeColorTwo;
$iconColorActive: $themeColorOne;
$iconColorReversed: $bodyBgColor;

// FORMS
$formFieldBorderWidth: 1px;
$formFieldBorderColor: lighten($themeColorOne, 30%);
$formFieldPadding: 10px 8px;
$formFieldTextColor: #000;
$formFieldTextSize: 13px;
$formFieldBorderRadius: $borderRadius;
$formFieldBackgroundColor: #fff;
$inputFieldMinHeight: 38px;
$formBgColor: lighten($themeColorOne, 75%);

// Pagination
$paginationActiveLink: $themeColorTwo;
$paginationActiveLinkText: #fff;
$paginationLinkOnHover: $themeColorTwo;
$paginationLinkOnHoverText: #fff;

//WOOCOMMERCE
$wooThemeColor: $themeColorTwo;

// On sale
$onsaleBackgroundColor: $wooThemeColor;
$onsaleFontColor: #fff;

// Products price
$productsPriceFontColor: $wooThemeColor;

// Single Product page
$productPriceFontColor: $wooThemeColor;

// error
$errorBorderTopColor: #b81c23;
$errorIconFontColor: #b81c23;

// info
$infoBorderTopColor: #1e85be;
$infoIconFontColor: #1e85be;

// message
$messageBorderTopColor: $themeColorTwo;
$messageIconFontColor: $themeColorTwo;

//WOOCOMMERCE end

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
) !default;
